<div class="forgot-password-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <img src="../../assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-ui-jq="unveil"
             data-src-retina="assets/img/logo_2x.png" width="78" height="22">
        <h3>Recovery Your Password</h3>
        <form id="form-register"
              [formGroup]="frm"
              (ngSubmit)="onSubmit(frm.value)"
              class="p-t-15" role="form" name="register" novalidate>
          <div class="row">
            <div class="col-sm-12">
              <div nois-input-container
                   class="form-group form-group-default"
                   [ngClass]="{ 'has-error': frm.controls['email'].invalid && !frm.controls['email'].pristine }">
                <label>Email</label>
                <input type="text" name="email" placeholder="Your Email"
                       class="form-control"
                       id="email"
                       [formControl]="frm.controls['email']"
                       nois-input
                       required>
              </div>
              <label class="error" for="email"
                     *ngIf="frm.controls['email'].hasError('required') && !frm.controls['email'].pristine">This field
                is required.</label>
            </div>
          </div>
          <div class="m-t-10 flex flex-row justify-between">
            <button class="btn btn-primary btn-cons" type="submit" [disabled]="frm.invalid || submitted">Submit</button>
            <span class="m-t-10 text-right">
              Already have an account? <a routerLink="/auth/sign-in">Sign In</a>
            </span>
          </div>
          <div class="alert alert-danger m-t-10" *ngIf="hasError">
            <strong>Error: </strong>{{errorMessage}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
